@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #e84646;
  color: white;
}

:root {
  --lightred: #e84646;
  --meduimred: #e84646;
  --darkred: #da3d3d;
  --darkblue: #13728f;
  --darkgreen: #28b870;
  --primary: #4ade80;
  --primary-alt: #22c55e;
  --grey: #64748b;
  --dark: #1e293b;
  --dark-alt: #334155;
  --light: #f1f5f9;
  --sidebar-width: 15.5rem;
}

html,
body {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
